body {
  margin-top: 20px;
}

#input-params {
  width: 250px;
  text-align: center;
}

#input-params .input-group {
  padding-bottom: 15px;
}

#control-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: none;
}

#timer {
  display: none;
  text-align: center;
  height: 600px;
}

#timer-rest {
  font-size: 250px;
  font-weight: 300;
  right: 50px;
  bottom: 50px;
}

#timer-active {
  height: 100%;
  font-size: 500px;
  font-weight: 600;
}
