html {
  height: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-width: 800px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.nav {
  text-align: right;
  position: fixed;
  top: 20px;
  right: 20px;
  color: darkgrey;
  z-index: 10;
}

.nav li {
  font-size: 12px;
  line-height: 17px;
}

.nav li:hover {
  color: lightgrey;
  cursor: default;
}

.current-page {
  font-weight: 900;
  text-decoration: underline;
  color: black;
  transition: 2s;
  -webkit-transition: 2s;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

.large {
  font-size: 72px;
  line-height: 60px;
  margin: 0;
}

.medium {
  font-size: 60px;
  line-height: 50px;
  margin: 0;
}

.small {
  font-size: 40px;
  line-height: 30px;
  margin: 0;
}

.space-bottom {
  margin-bottom: 40px;
}

.sub {
  font-size: 10px;
  font-style: italic;
}

.sub-select {
  color: black;
}

.link-out {
  color: #bbb;
}

.page-fade {
  display: none;
}

.modal {
  text-align: center;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.big-icon {
  font-size: 40px;
  color: black;
}

.progress {
  background-color: #ddd;
  border-radius: 0;
  height: 10px;
}

.progress-bar {
  background-color: black;
}

.resume-section {
  position: relative;
  margin-bottom: 200px;
  margin-left: 100px;
}

.resume-section-header {
  margin-bottom: 50px;
  margin-top: 100px;
}

.carousel {
  width: 900px;
  height: 600px;
}

.carousel img {
  height: 600px;
  width: inherit;
  image-resolution: from-image;
}

.carousel-caption {
  height: 500px;
  width: 300px;
  text-align: left;
}

.home-bar {
  background-color: lightgrey;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

#language {
  position: absolute;
  width: 300px;
  line-height: 15px;
}

#software {
  position: relative;
  width: 300px;
  left: 50%;
  line-height: 15px;
}

#home-greeting {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

#resume-header {
  position: relative;
  top: 50px;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

#project-samples {
  width: 55%;
  position: absolute;
  margin: 100px;
}

#home-bar1 {
  background-image: url('../images/024.jpeg');
  top: 0;
  height: 700px;
  width: 80px;
  left: 100px;
}

#home-bar2 {
  background-image: url('../images/040.jpeg');
  top: 0;
  height: 600px;
  width: 140px;
  left: 240px;
}

#home-bar3 {
  background-image: url('../images/071.jpeg');
  top: 0;
  height: 650px;
  width: 100px;
  left: 400px;
}

#home-bar4 {
  background-image: url('../images/029.jpeg');
  top: 250px;
  height: 300px;
  width: 500px;
  left: 300px;
  background-position: right;
}
