body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  text-align: right;
  position: fixed;
  right: 20px;
  color: darkgrey;
}

.nav li {
  font-size: 12px;
  line-height: 17px;
}

.nav li:hover {
  color: lightgrey;
  cursor: default;
}

.current-page {
  font-weight: 900;
  text-decoration: underline;
  color: black;
  transition: 2s;
  -webkit-transition: 2s;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

.large {
  font-size: 72px;
  line-height: 60px;
  margin: 0;
}

.medium {
  font-size: 60px;
  line-height: 50px;
  margin: 0;
}

.space-bottom {
  margin-bottom: 40px;
}

.sub {
  font-size: 10px;
  font-style: italic;
}

.sub-select {
  color: black;
}

.link-out {
  color: #bbbbbb;
}

.page-fade {
  display: none;
}

.modal {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal a.close-modal {
  display: none;
}

.big-icon {
  font-size: 40px;
  color: lightgrey;
  padding-bottom: 10px;
}

#home-greeting {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

#about-me-bio {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 700px;
}
